<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="OXYGEN" sequenceNumber="26">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/releases/oxygen"/>
            <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.buildship.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="file:../org.whole.product.ef.bundles/target/repository/"/>
            <unit id="org.beanshell.bsh" version="2.0.0.0b5"/>
            <unit id="org.beanshell.bsh.source" version="2.0.0.0b5"/>
            <unit id="javax.ws.rs" version="2.0.1"/>
            <unit id="javax.ws.rs.source" version="2.0.1"/>
            <unit id="net.sourceforge.jodatime" version="1.6.2"/>
            <unit id="net.sourceforge.jodatime.source" version="1.6.2"/>
            <unit id="org.mozilla.rhino" version="1.7.9"/>
            <unit id="org.mozilla.rhino.source" version="1.7.9"/>
            <unit id="nu.validator.htmlparser" version="1.4.11"/>
            <unit id="nu.validator.htmlparser.source" version="1.4.11"/>
            <unit id="javax.websocket" version="1.1.0"/>
            <unit id="javax.websocket.source" version="1.1.0"/>
            <unit id="com.github.jai.imageio.core" version="1.3.1"/>
            <unit id="com.github.jai.imageio.core.source" version="1.3.1"/>
            <unit id="ca.weblite.java-objc-bridge" version="1.0.0"/>
            <unit id="ca.weblite.java-objc-bridge.source" version="1.0.0"/>
            <unit id="org.apache.aries.spifly.org.apache.aries.spifly.dynamic.bundle" version="1.0.10"/>
            <unit id="org.apache.aries.spifly.org.apache.aries.spifly.dynamic.bundle.source" version="1.0.10"/>
            <unit id="org.ow2.asm.asm-all" version="5.0.4"/>
            <unit id="org.ow2.asm.asm-all.source" version="5.0.4"/>
            <unit id="org.apache.aries.org.apache.aries.util" version="1.1.1"/>
            <unit id="org.apache.aries.org.apache.aries.util.source" version="1.1.1"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180206163158/repository/"/>
            <unit id="org.apache.httpcomponents.httpclient" version="4.5.2.v20170210-0925"/>
            <unit id="org.apache.httpcomponents.httpclient.source" version="4.5.2.v20170210-0925"/>
            <unit id="org.apache.httpcomponents.httpcore" version="4.4.6.v20170210-0925"/>
            <unit id="org.apache.httpcomponents.httpcore.source" version="4.4.6.v20170210-0925"/>
            <unit id="org.h2" version="1.3.168.v201212121212"/>
            <unit id="org.h2.source" version="1.3.168.v201212121212"/>
            <unit id="com.fasterxml.jackson.core.jackson-core" version="2.6.2.v20161117-2150"/>
            <unit id="com.fasterxml.jackson.core.jackson-core.source" version="2.6.2.v20161117-2150"/>
            <unit id="org.glassfish.jersey.containers.servlet" version="2.22.1.v20161103-0227"/>
            <unit id="org.glassfish.jersey.containers.servlet.source" version="2.22.1.v20161103-0227"/>
            <unit id="org.glassfish.jersey.containers.servlet.core" version="2.22.1.v20161103-0227"/>
            <unit id="org.glassfish.jersey.containers.servlet.core.source" version="2.22.1.v20161103-0227"/>
            <unit id="org.antlr.runtime" version="4.5.1.v20160210-1233"/>
            <unit id="org.antlr.runtime.source" version="4.5.1.v20160210-1233"/>
            <unit id="com.sun.jna" version="4.1.0.v20170410-1117"/>
            <unit id="com.sun.jna.source" version="4.1.0.v20170410-1117"/>
            <unit id="javax.servlet" version="3.1.0.v201410161800"/>
            <unit id="javax.servlet.source" version="3.1.0.v201410161800"/>
            <unit id="org.apache.batik.bridge" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.bridge.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.css" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.css.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.dom" version="1.7.1.v201505191845"/>
            <unit id="org.apache.batik.dom.source" version="1.7.1.v201505191845"/>
            <unit id="org.apache.batik.dom.svg" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.dom.svg.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.ext.awt" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.ext.awt.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.extension" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.extension.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.parser" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.parser.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.svggen" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.svggen.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.swing" version="1.7.0.v201302011158"/>
            <unit id="org.apache.batik.swing.source" version="1.7.0.v201302011158"/>
            <unit id="org.apache.batik.transcoder" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.transcoder.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.util" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.util.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.util.gui" version="1.7.0.v200903091627"/>
            <unit id="org.apache.batik.util.gui.source" version="1.7.0.v200903091627"/>
            <unit id="org.apache.batik.xml" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.xml.source" version="1.7.0.v201011041433"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/"/>
            <unit id="org.eclipse.jetty.servlet" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.servlet.source" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.api" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.api.source" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.common" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.common.source" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.servlet" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.servlet.source" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.server" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.server.source" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.client" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.client.source" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.client" version="9.4.8.v20171121"/>
            <unit id="org.eclipse.jetty.websocket.client.source" version="9.4.8.v20171121"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="file:gef-build/org.eclipse.gef.repository/target/repository/"/>
            <unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.draw2d.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.draw2d.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.gef.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.gef.lightweight.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.gef.examples.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.gef.examples.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.zest.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.zest.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.zest.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.gef.all.feature.group" version="0.0.0"/>
        </location>
    </locations>
</target>
